.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ini
*.gdb
*.zip
*.mxd
00_geographic_data/*
*.RDS
*RDS
00_data/M02_Hexonos_puntos_MIB_controles_y_adicionales.RDS
03_results/*
00_*
05_presentations/~$*
*Figuras_placebos.pptx
